* {
  background-color: #E9E1E0;
}
.header {
  text-align: center;
  padding: 10px;
}
.header h1 {
  font-size: 50px;
}
.header img {
  width: 250px;
  height: auto;
  border-radius: 500px;
}
.land {
  height: 100vh;
  width: auto;
}
.main {
  display: flex;
  padding: 35px;
}
.bio {
  width: 50vw;
  padding: 20px;
  margin: 5px;
}
.bio p {
  line-height: 30px;
  font-size: 20px;
}
.maintools {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 25px;
  margin-left: 35px;
}
.tools {
  display: flex;
}
.tools svg {
  padding: 8px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects img {
  width: 450px;
  height: auto;
}
.connect p {
  font-size: 30px;
}